In [1]:
%matplotlib notebook

In [2]:
import numpy as np
import pandas as pd
import csv
import json
import requests
import datetime as dt

In [3]:
# 2016 Moon Data
city = "New York City, NY"
year = 2016
url = f"https://api.usno.navy.mil/moon/phase?year={year}&loc={city}"
# response = requests.get(url).json()
# response is saved below... the api went down before the end of the first week

In [4]:
# 2017 Moon Data
city = "New York City, NY"
year = 2017
url = f"https://api.usno.navy.mil/moon/phase?year={year}&loc={city}"
# response = requests.get(url).json()
# response is saved below... the api went down before the end of the first week

In [5]:
# 2018 Moon Data
city = "New York City, NY"
year = 2018
url = f"https://api.usno.navy.mil/moon/phase?year={year}&loc={city}"
# response = requests.get(url).json()
# response is saved below... the api went down before the end of the first week

In [6]:
response_2016 = {'error': False,
 'apiversion': '2.2.1',
 'year': 2016,
 'month': 1,
 'day': 1,
 'numphases': 50,
 'datechanged': False,
 'phasedata': [{'phase': 'Last Quarter',
   'date': '2016 Jan 02',
   'time': '05:30'},
  {'phase': 'New Moon', 'date': '2016 Jan 10', 'time': '01:30'},
  {'phase': 'First Quarter', 'date': '2016 Jan 16', 'time': '23:26'},
  {'phase': 'Full Moon', 'date': '2016 Jan 24', 'time': '01:46'},
  {'phase': 'Last Quarter', 'date': '2016 Feb 01', 'time': '03:28'},
  {'phase': 'New Moon', 'date': '2016 Feb 08', 'time': '14:39'},
  {'phase': 'First Quarter', 'date': '2016 Feb 15', 'time': '07:46'},
  {'phase': 'Full Moon', 'date': '2016 Feb 22', 'time': '18:20'},
  {'phase': 'Last Quarter', 'date': '2016 Mar 01', 'time': '23:11'},
  {'phase': 'New Moon', 'date': '2016 Mar 09', 'time': '01:54'},
  {'phase': 'First Quarter', 'date': '2016 Mar 15', 'time': '17:03'},
  {'phase': 'Full Moon', 'date': '2016 Mar 23', 'time': '12:01'},
  {'phase': 'Last Quarter', 'date': '2016 Mar 31', 'time': '15:17'},
  {'phase': 'New Moon', 'date': '2016 Apr 07', 'time': '11:24'},
  {'phase': 'First Quarter', 'date': '2016 Apr 14', 'time': '03:59'},
  {'phase': 'Full Moon', 'date': '2016 Apr 22', 'time': '05:24'},
  {'phase': 'Last Quarter', 'date': '2016 Apr 30', 'time': '03:29'},
  {'phase': 'New Moon', 'date': '2016 May 06', 'time': '19:29'},
  {'phase': 'First Quarter', 'date': '2016 May 13', 'time': '17:02'},
  {'phase': 'Full Moon', 'date': '2016 May 21', 'time': '21:14'},
  {'phase': 'Last Quarter', 'date': '2016 May 29', 'time': '12:12'},
  {'phase': 'New Moon', 'date': '2016 Jun 05', 'time': '03:00'},
  {'phase': 'First Quarter', 'date': '2016 Jun 12', 'time': '08:10'},
  {'phase': 'Full Moon', 'date': '2016 Jun 20', 'time': '11:02'},
  {'phase': 'Last Quarter', 'date': '2016 Jun 27', 'time': '18:19'},
  {'phase': 'New Moon', 'date': '2016 Jul 04', 'time': '11:01'},
  {'phase': 'First Quarter', 'date': '2016 Jul 12', 'time': '00:52'},
  {'phase': 'Full Moon', 'date': '2016 Jul 19', 'time': '22:56'},
  {'phase': 'Last Quarter', 'date': '2016 Jul 26', 'time': '23:00'},
  {'phase': 'New Moon', 'date': '2016 Aug 02', 'time': '20:44'},
  {'phase': 'First Quarter', 'date': '2016 Aug 10', 'time': '18:21'},
  {'phase': 'Full Moon', 'date': '2016 Aug 18', 'time': '09:26'},
  {'phase': 'Last Quarter', 'date': '2016 Aug 25', 'time': '03:41'},
  {'phase': 'New Moon', 'date': '2016 Sep 01', 'time': '09:03'},
  {'phase': 'First Quarter', 'date': '2016 Sep 09', 'time': '11:49'},
  {'phase': 'Full Moon', 'date': '2016 Sep 16', 'time': '19:05'},
  {'phase': 'Last Quarter', 'date': '2016 Sep 23', 'time': '09:56'},
  {'phase': 'New Moon', 'date': '2016 Oct 01', 'time': '00:11'},
  {'phase': 'First Quarter', 'date': '2016 Oct 09', 'time': '04:33'},
  {'phase': 'Full Moon', 'date': '2016 Oct 16', 'time': '04:23'},
  {'phase': 'Last Quarter', 'date': '2016 Oct 22', 'time': '19:14'},
  {'phase': 'New Moon', 'date': '2016 Oct 30', 'time': '17:38'},
  {'phase': 'First Quarter', 'date': '2016 Nov 07', 'time': '19:51'},
  {'phase': 'Full Moon', 'date': '2016 Nov 14', 'time': '13:52'},
  {'phase': 'Last Quarter', 'date': '2016 Nov 21', 'time': '08:33'},
  {'phase': 'New Moon', 'date': '2016 Nov 29', 'time': '12:18'},
  {'phase': 'First Quarter', 'date': '2016 Dec 07', 'time': '09:03'},
  {'phase': 'Full Moon', 'date': '2016 Dec 14', 'time': '00:05'},
  {'phase': 'Last Quarter', 'date': '2016 Dec 21', 'time': '01:56'},
  {'phase': 'New Moon', 'date': '2016 Dec 29', 'time': '06:53'}]}

In [7]:
response_2017 = {'error': False,
 'apiversion': '2.2.1',
 'year': 2017,
 'month': 1,
 'day': 1,
 'numphases': 50,
 'datechanged': False,
 'phasedata': [{'phase': 'First Quarter',
   'date': '2017 Jan 05',
   'time': '19:47'},
  {'phase': 'Full Moon', 'date': '2017 Jan 12', 'time': '11:34'},
  {'phase': 'Last Quarter', 'date': '2017 Jan 19', 'time': '22:13'},
  {'phase': 'New Moon', 'date': '2017 Jan 28', 'time': '00:07'},
  {'phase': 'First Quarter', 'date': '2017 Feb 04', 'time': '04:19'},
  {'phase': 'Full Moon', 'date': '2017 Feb 11', 'time': '00:33'},
  {'phase': 'Last Quarter', 'date': '2017 Feb 18', 'time': '19:33'},
  {'phase': 'New Moon', 'date': '2017 Feb 26', 'time': '14:58'},
  {'phase': 'First Quarter', 'date': '2017 Mar 05', 'time': '11:32'},
  {'phase': 'Full Moon', 'date': '2017 Mar 12', 'time': '14:54'},
  {'phase': 'Last Quarter', 'date': '2017 Mar 20', 'time': '15:58'},
  {'phase': 'New Moon', 'date': '2017 Mar 28', 'time': '02:57'},
  {'phase': 'First Quarter', 'date': '2017 Apr 03', 'time': '18:39'},
  {'phase': 'Full Moon', 'date': '2017 Apr 11', 'time': '06:08'},
  {'phase': 'Last Quarter', 'date': '2017 Apr 19', 'time': '09:57'},
  {'phase': 'New Moon', 'date': '2017 Apr 26', 'time': '12:16'},
  {'phase': 'First Quarter', 'date': '2017 May 03', 'time': '02:47'},
  {'phase': 'Full Moon', 'date': '2017 May 10', 'time': '21:42'},
  {'phase': 'Last Quarter', 'date': '2017 May 19', 'time': '00:33'},
  {'phase': 'New Moon', 'date': '2017 May 25', 'time': '19:44'},
  {'phase': 'First Quarter', 'date': '2017 Jun 01', 'time': '12:42'},
  {'phase': 'Full Moon', 'date': '2017 Jun 09', 'time': '13:10'},
  {'phase': 'Last Quarter', 'date': '2017 Jun 17', 'time': '11:33'},
  {'phase': 'New Moon', 'date': '2017 Jun 24', 'time': '02:31'},
  {'phase': 'First Quarter', 'date': '2017 Jul 01', 'time': '00:51'},
  {'phase': 'Full Moon', 'date': '2017 Jul 09', 'time': '04:07'},
  {'phase': 'Last Quarter', 'date': '2017 Jul 16', 'time': '19:26'},
  {'phase': 'New Moon', 'date': '2017 Jul 23', 'time': '09:46'},
  {'phase': 'First Quarter', 'date': '2017 Jul 30', 'time': '15:23'},
  {'phase': 'Full Moon', 'date': '2017 Aug 07', 'time': '18:11'},
  {'phase': 'Last Quarter', 'date': '2017 Aug 15', 'time': '01:15'},
  {'phase': 'New Moon', 'date': '2017 Aug 21', 'time': '18:30'},
  {'phase': 'First Quarter', 'date': '2017 Aug 29', 'time': '08:13'},
  {'phase': 'Full Moon', 'date': '2017 Sep 06', 'time': '07:03'},
  {'phase': 'Last Quarter', 'date': '2017 Sep 13', 'time': '06:25'},
  {'phase': 'New Moon', 'date': '2017 Sep 20', 'time': '05:30'},
  {'phase': 'First Quarter', 'date': '2017 Sep 28', 'time': '02:53'},
  {'phase': 'Full Moon', 'date': '2017 Oct 05', 'time': '18:40'},
  {'phase': 'Last Quarter', 'date': '2017 Oct 12', 'time': '12:25'},
  {'phase': 'New Moon', 'date': '2017 Oct 19', 'time': '19:12'},
  {'phase': 'First Quarter', 'date': '2017 Oct 27', 'time': '22:22'},
  {'phase': 'Full Moon', 'date': '2017 Nov 04', 'time': '05:23'},
  {'phase': 'Last Quarter', 'date': '2017 Nov 10', 'time': '20:36'},
  {'phase': 'New Moon', 'date': '2017 Nov 18', 'time': '11:42'},
  {'phase': 'First Quarter', 'date': '2017 Nov 26', 'time': '17:03'},
  {'phase': 'Full Moon', 'date': '2017 Dec 03', 'time': '15:47'},
  {'phase': 'Last Quarter', 'date': '2017 Dec 10', 'time': '07:51'},
  {'phase': 'New Moon', 'date': '2017 Dec 18', 'time': '06:30'},
  {'phase': 'First Quarter', 'date': '2017 Dec 26', 'time': '09:20'}]}

In [8]:
response_2018 = {'error': False,
 'apiversion': '2.2.1',
 'year': 2018,
 'month': 1,
 'day': 1,
 'numphases': 50,
 'datechanged': False,
 'phasedata': [{'phase': 'Full Moon', 'date': '2018 Jan 02', 'time': '02:24'},
  {'phase': 'Last Quarter', 'date': '2018 Jan 08', 'time': '22:25'},
  {'phase': 'New Moon', 'date': '2018 Jan 17', 'time': '02:17'},
  {'phase': 'First Quarter', 'date': '2018 Jan 24', 'time': '22:20'},
  {'phase': 'Full Moon', 'date': '2018 Jan 31', 'time': '13:27'},
  {'phase': 'Last Quarter', 'date': '2018 Feb 07', 'time': '15:54'},
  {'phase': 'New Moon', 'date': '2018 Feb 15', 'time': '21:05'},
  {'phase': 'First Quarter', 'date': '2018 Feb 23', 'time': '08:09'},
  {'phase': 'Full Moon', 'date': '2018 Mar 02', 'time': '00:51'},
  {'phase': 'Last Quarter', 'date': '2018 Mar 09', 'time': '11:20'},
  {'phase': 'New Moon', 'date': '2018 Mar 17', 'time': '13:12'},
  {'phase': 'First Quarter', 'date': '2018 Mar 24', 'time': '15:35'},
  {'phase': 'Full Moon', 'date': '2018 Mar 31', 'time': '12:37'},
  {'phase': 'Last Quarter', 'date': '2018 Apr 08', 'time': '07:17'},
  {'phase': 'New Moon', 'date': '2018 Apr 16', 'time': '01:57'},
  {'phase': 'First Quarter', 'date': '2018 Apr 22', 'time': '21:46'},
  {'phase': 'Full Moon', 'date': '2018 Apr 30', 'time': '00:58'},
  {'phase': 'Last Quarter', 'date': '2018 May 08', 'time': '02:09'},
  {'phase': 'New Moon', 'date': '2018 May 15', 'time': '11:48'},
  {'phase': 'First Quarter', 'date': '2018 May 22', 'time': '03:49'},
  {'phase': 'Full Moon', 'date': '2018 May 29', 'time': '14:19'},
  {'phase': 'Last Quarter', 'date': '2018 Jun 06', 'time': '18:32'},
  {'phase': 'New Moon', 'date': '2018 Jun 13', 'time': '19:43'},
  {'phase': 'First Quarter', 'date': '2018 Jun 20', 'time': '10:51'},
  {'phase': 'Full Moon', 'date': '2018 Jun 28', 'time': '04:53'},
  {'phase': 'Last Quarter', 'date': '2018 Jul 06', 'time': '07:51'},
  {'phase': 'New Moon', 'date': '2018 Jul 13', 'time': '02:48'},
  {'phase': 'First Quarter', 'date': '2018 Jul 19', 'time': '19:52'},
  {'phase': 'Full Moon', 'date': '2018 Jul 27', 'time': '20:20'},
  {'phase': 'Last Quarter', 'date': '2018 Aug 04', 'time': '18:18'},
  {'phase': 'New Moon', 'date': '2018 Aug 11', 'time': '09:58'},
  {'phase': 'First Quarter', 'date': '2018 Aug 18', 'time': '07:48'},
  {'phase': 'Full Moon', 'date': '2018 Aug 26', 'time': '11:56'},
  {'phase': 'Last Quarter', 'date': '2018 Sep 03', 'time': '02:37'},
  {'phase': 'New Moon', 'date': '2018 Sep 09', 'time': '18:01'},
  {'phase': 'First Quarter', 'date': '2018 Sep 16', 'time': '23:15'},
  {'phase': 'Full Moon', 'date': '2018 Sep 25', 'time': '02:52'},
  {'phase': 'Last Quarter', 'date': '2018 Oct 02', 'time': '09:45'},
  {'phase': 'New Moon', 'date': '2018 Oct 09', 'time': '03:47'},
  {'phase': 'First Quarter', 'date': '2018 Oct 16', 'time': '18:02'},
  {'phase': 'Full Moon', 'date': '2018 Oct 24', 'time': '16:45'},
  {'phase': 'Last Quarter', 'date': '2018 Oct 31', 'time': '16:40'},
  {'phase': 'New Moon', 'date': '2018 Nov 07', 'time': '16:02'},
  {'phase': 'First Quarter', 'date': '2018 Nov 15', 'time': '14:54'},
  {'phase': 'Full Moon', 'date': '2018 Nov 23', 'time': '05:39'},
  {'phase': 'Last Quarter', 'date': '2018 Nov 30', 'time': '00:19'},
  {'phase': 'New Moon', 'date': '2018 Dec 07', 'time': '07:20'},
  {'phase': 'First Quarter', 'date': '2018 Dec 15', 'time': '11:49'},
  {'phase': 'Full Moon', 'date': '2018 Dec 22', 'time': '17:49'},
  {'phase': 'Last Quarter', 'date': '2018 Dec 29', 'time': '09:34'}]}

In [9]:
# Create lists and then the dataframe
date = []
phase = []

# Append 2016
for entry in response_2016['phasedata']:
    # Date
    date.append(entry['date'])
    # Phase
    phase.append(entry['phase'])

# Append 2017
for entry in response_2017['phasedata']:
    # Date
    date.append(entry['date'])
    # Phase
    phase.append(entry['phase'])

# Append 2018    
for entry in response_2018['phasedata']:
    # Date
    date.append(entry['date'])
    # Phase
    phase.append(entry['phase'])
    
moon = pd.DataFrame({"Date": date,
                         "Phase": phase})
moon.head()

          Date          Phase
0  2016 Jan 02   Last Quarter
1  2016 Jan 10       New Moon
2  2016 Jan 16  First Quarter
3  2016 Jan 24      Full Moon
4  2016 Feb 01   Last Quarter

In [10]:
# Change the dates from YYYY "Month" DD to MM/DD/YYYY by splitting the original date
# Save each part of the date into separate columns
moon["Year"] = moon["Date"].str.split(" ").str[0]
moon["Month"] = moon["Date"].str.split(" ").str[1]
moon["Day"] = moon["Date"].str.split(" ").str[2]
moon.head()

          Date          Phase  Year Month Day
0  2016 Jan 02   Last Quarter  2016   Jan  02
1  2016 Jan 10       New Moon  2016   Jan  10
2  2016 Jan 16  First Quarter  2016   Jan  16
3  2016 Jan 24      Full Moon  2016   Jan  24
4  2016 Feb 01   Last Quarter  2016   Feb  01

In [11]:
# Create lists holding month abbreviation and numeric form
months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
month_nums = ["01","02","03","04","05","06","07","08","09","10","11","12"]

# Loop through all of lists and change the abbreviation to the numeric form
for x in range(len(months)):
    moon = moon.replace(months[x], month_nums[x])

# Show preview
moon.head()

          Date          Phase  Year Month Day
0  2016 Jan 02   Last Quarter  2016    01  02
1  2016 Jan 10       New Moon  2016    01  10
2  2016 Jan 16  First Quarter  2016    01  16
3  2016 Jan 24      Full Moon  2016    01  24
4  2016 Feb 01   Last Quarter  2016    02  01

In [12]:
# Create a single string replacing the current date format
for index, row in moon.iterrows():
    month = row["Month"]
    day = row["Day"]
    year = row["Year"]
    row["Date"] = f"{month}/{day}/{year}"

# Remove the columns you no longer need
del moon["Year"]
del moon["Day"]
del moon["Month"]

# Show new dataframe
moon.head()

         Date          Phase
0  01/02/2016   Last Quarter
1  01/10/2016       New Moon
2  01/16/2016  First Quarter
3  01/24/2016      Full Moon
4  02/01/2016   Last Quarter